<div class="container py-3 col-6">
    <h2 class="text-center">Bienvenue sur EventBrite !</h2>
    <p>Nous sommes ravis de vous accueillir dans notre univers en ligne. Ici, vous découvrirez une multitude d'Events passionnants et d'expériences uniques.</p>
</div>

<div class="my-div">
    <% if notice %>
    <div class="notice mx-1 col-10 text-center rounded-2 p-2">
    <%= notice %>
    </div>
    <% end %>
</div>

<% if user_signed_in? %>

<a href="<%= new_event_path%>"><button class="btn btn-danger shadow">Créer ton Event</button></a>

<% else %>
<a href="<%= new_user_session_path%>"><button class="btn btn-danger shadow">Créer ton Event</button></a>

<% end %>

<div class="d-flex flex-wrap justify-content-center align-items-center my-2">
    <% @events.each do |obj| %>
        <div class="card-event p-2 my-5 text-center rounded-3 col-3 container mx-4">
            <div class="card" >
                <div class="card-body">
                    <h5 class="card-title">Event : <%= obj.title %></h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Date : <%= obj.start_date.strftime('%Y-%m-%d %H:%M') %></li>
                    <li class="list-group-item">Prix : <%= obj.price %> €</li>
                </ul>
                <div class="card-body">
                     <%= link_to "Voir plus", event_path(obj.id), class:"card-link link-danger" %>
                </div>
            </div>
        </div>
    <% end %>
</div> 

<script>
    setTimeout(function() {
      var myDiv = document.querySelector('.my-div');
      myDiv.classList.add('hidden');
    }, 5000);
</script>
