<div class="card-event container p-2 my-5 col-8 text-center rounded-3 ">
    <div class="card" >
        <div class="card-body">
            <h5 class="card-title">Event : <%=  Event.find(params[:id]).title  %></h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Date : <%=  Event.find(params[:id]).start_date.strftime('%Y-%m-%d %H:%M') %></li>
            <li class="list-group-item">Prix : <%=  Event.find(params[:id]).price %> €</li>
            <li class="list-group-item">Location : <%=  Event.find(params[:id]).location %></li>
            <li class="list-group-item">Description : <%=  Event.find(params[:id]).description %></li>
        </ul>
        <%= button_to "Passer commande (NEXT GEN)", checkout_create_path(total: Event.find(params[:id]).price), class: "btn btn-primary m-2 p-2", data: {turbo: false} %>
    </div>
</div>